body {
    background-color: bisque;
    margin-top: 126px;
    font-size: 17px;
    margin: 0%;
    padding: 0%;
    
}


.cab__1 {
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgb(156, 93, 93);
    z-index: 10;

}

#img__logo {
    border-radius: 25px;
    position: absolute;
    left: 10px;
}

#titulo__h1 {
    font-family: 'Passion One', cursive;
    font-size: 80px;
    background: linear-gradient(#1497be, #1c2aec);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px black;
    -moz-background-clip: text;
    animation: text 8s linear infinite;
    position: relative;
    margin: auto;
    padding: 2px;
    text-align: center;
}

@keyframes text {
    0% {
        filter: hue-rotate(0deg)
    }

    100% {
        filter: hue-rotate(360deg)
    }
}

nav {
    text-align: center;

}

nav a {
    color: rgb(255, 255, 255);
}

nav a:hover {
    color: rgb(0, 0, 0);
}

nav a {
    font-size: 18px;
    border: rgb(0, 17, 255);
    border-style: solid;
    padding: 5px;
    margin: 10px;

}

#Subt__1 {
    text-align: center;
    font-size: 28px;
    text-decoration: underline;
}


article ul li a:hover {
    color: black;

}

#img_principal {
    display: block;
    margin: auto;
    padding: 30px;
    border-style: solid;
    border-color: black;

}

#img__index1 {
    float: left;
    padding: 1px;
    margin-right: 8px;
    border-style: dashed;
    border-radius: 50%;
    border-color: rgb(4, 0, 255);
}

#img__index2 {
    float: right;
    padding: 5px;
    margin-left: 8px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
    border-radius: 30px;

}


.footer__f {
    background-color: rgb(156, 93, 93);
    padding: 10px;
}

#img__foot1 {
    float: right;
}

#img__foot2 {
    float: left;
}

/*Segunda página, techs backend */

#p-techbackend1 {
    background-color: cadetblue;
    border-style: solid;
    border-color: red;
    padding: 5px;
}

#lista_techbackend1 {
    list-style-type: circle;
    list-style-position: inside;
}

#table__techsbackend1 {
    background-color: white;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 20px;
}

thead {
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: #369681;
    color: white;
}


/*página de ejemplos*/

#subin_color {
    background-color: #369681;
    opacity: .8;
    color: rgb(255, 255, 255);
    z-index: 0;
}

.parrafo-ejemploBackend {
    background-color: aqua;
    padding: 20px;
    border-radius: 25px;
    color: black;
    font-size: 20px;
}

#subt__ejemploBackend1 {
    background-color: red;
    padding: 20px;
    border-radius: 50px;
    border-style: solid;
    float:left;


}

#subt__ejemploBackend2 {
    float: left;
    margin: 5px;
    background-color: red;
    padding: 20px;
    border-radius: 50px;
    border-style: solid;
    border-color: blue;

}

HTML CSSResult Skip Results Iframe EDIT ON body {
    margin: 0;
}

.sect {
    width: 100%;
    min-height: 350px;
}

#sect1,
#sect3 {
    background-color: #3333337d;
    color: #fff;
}

#sect2 {
    background-color: #dddddd7d;
    color: #333;
}

#video_ejemplo1 {
    position: fixed;
    left: 0;
    top: 0;
    height: 115%;
    z-index: -1;
}

#video_ejemplo2 {
    display: block;
    margin: auto;
    
}

/* Página tutoriales backend */
#titulo_tutoriales {
    font-size: 40px;
    font-family: 'Passion One', cursive;
    -webkit-text-stroke: white;
}

#imagen_roadmap {
    display: block;
margin: auto;
border-style: solid;
border-color:rgb(0, 0, 0);
}

/* Página de contacto*/
.article_contacto{
    background-color: #bda2a2;
    color: white;
}

.form1 {
    display: block;
    margin: auto;
    width: 200px;
    background-color: #940303;
    padding: 20px;
    text-align: left;
}

#parrafo_contacto {
    text-align: center;
}

#enviar {
    display: block;
    position: relative;
    text-align: center;
    padding: 20px;
}

#enviar_type {
    padding: 20px 30px;
}
